@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles can go here if needed */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #f0f0f0; */ /* Tailwind will handle this or it can be set via DaisyUI themes */
  /* color: #333; */
}
