@reference 'tailwindcss';

.banner {
  @apply relative z-0 h-50 lg:h-200 overflow-visible py-40 mx-auto lg:ml-20
    lg:mr-10;
}

.banner::before {
  content: '';
  @apply absolute inset-0 pointer-events-none rounded-lg;
  background-image: url(https://rawcdn.githack.com/chupato/chupato.github.io/d4b928bd955c26ca2ec10c7c6c90d188ca474563/launcher/background.avif);
  background-color: #213029;
  background-size: cover;
  background-position: center;
  mask-image: linear-gradient(
    to bottom,
    white 20%,
    #fff4 40%,
    transparent 100%
  );
  z-index: -10;
}
